<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <File name="FILE" fileName="${basePath}/server_logfile.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" charset="UTF-8" />
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C:%L (%F:%L) - %m%n" charset="UTF-8" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>